{
  "semi": false,
  "singleQuote": true,
  "printWidth": 130,
  "tabWidth": 4,
  "useTabs": false,
  "htmlWhitespaceSensitivity": "ignore",
  "vueIndentScriptAndStyle": true,
  "bracketSameLine": false,
  "trailingComma": "es5"
}
